APP_ENV=development
APP_PORT=8080

DB_HOST=localhost
DB_PORT=5768
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=disable
DB_MAX_CONNS=25
DB_MIN_CONNS=5
DB_MAX_CONN_LIFETIME_MIN=30
DB_MAX_CONN_IDLE_TIME_MIN=10
DB_HEALTH_CHECK_SEC=30