# bin and compiled archives
/bin/
/out/
api
*.exe
*.exe~
*.dll
*.so
*.dylib

# tests
*.test
*.out
coverage.txt

# local configs and secrets
.env
.env.local

# Docker
postgres_data/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# SO
.DS_Store
Thumbs.db

# Logs
*.log